body{
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#section-1{
    background-color: rgbrgb(255, 255, 255);
    height: 600px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    padding: 10px 16px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li.active{
    background-color: #000000;
    border-radius: 5px;
    color: white;
}

.main-heading{
    margin-top: 130x;
    text-align: center;
}

.main-heading h1{
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-bottom:60px;
}

.main-heading a{
    text-decoration: none;
    background-color: #eb7d4b;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 25px 85px;
    color: white;
}

#section-2{
    background-color: #5f5f5fe1;
    min-height: 745px;
    color: white;
}

.title-box{
    text-align: center;
    max-width: 609px;
    margin-left: auto;
    margin-right: auto;
}

.title-box h2{
    margin-top: 0;
    margin-bottom: 10px;
    padding: 100px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.services-box{
    margin-top: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 100px;
}

.service{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service h3{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 60px;
}

.service p{
    font-size: 16px;
    line-height: 26px;
}

.service img{
    height: auto;
    width: 60px;
}

#section-3{
    background-color: #1f1f1f;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

#section-3 p{
    margin-left: 20px;
    margin-right: 20px;
}
