div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 1px solid #777;
}

div.gallery img{
    width: 100%;
    height: auto;
}

div.desc{
    padding: 15px;
    text-align: center;
}

a{
    color: red;
}

div[class*='ds']{
    background: blue;
    color: white;
    padding: 20px;
}

div[id~="ds"]{
    background: green;
    color: white;
    padding: 20px;
}

img[title^="blue"]{
    border: 2px solid blue;
}

h1[class|="heading_1"]{
    background: purple;
    padding:20px;
    color: white;
}